/* styles.css */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #f0f0f0;
    position: relative; /* Needed for absolute positioning of calibration point */
}

.calibration-point {
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    position: absolute; /* Position it absolutely on the page */
    visibility: hidden; /* Start hidden */
    cursor: pointer; /* Change cursor to pointer on hover */
    z-index: 10; /* Make sure it's above other elements */
}

#startCalibration {
    position: absolute; top: 0px; right: 0px;
}

h1 {
    position: absolute; top: 0px; /* Position it on top of calibration points */
    font-size: 24px;
    font-weight: bold;
    color: #333;
    z-index: 10; /* Ensure it's on top of other elements */
}
